*{
	margin: 0;
	padding: 10;
	font-family: sans-serif;
}

html{
	scroll-behavior: smooth;
}

.banner{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,255,130,0.5)),url(background.jpg);
	background-size: cover;
	background-position: center;
}

.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;

}

.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}

.logo{
	width: 100px;
	cursor: pointer;
}

.navbar ul li a{
	font-family: 'Advent Pro';
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.navbar ul li::after{
	content: '';
	height: 3px;
	width: 100%;
	background: #00FFB0;
	position: absolute;
	left: 0;
	bottom: 25px;
}

.main-content{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #BDEAFF;

}

.main-content h1{
	font-family: 'Advent Pro';
	font-size: 70px;
	margin-top: 80px;
}

.main-content p{
	margin: 25px auto;
	font-weight: 100;
	line-height: 25px;
}

button{
	width: 150px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 20px;
	font-weight: bold;
	border: 3px solid #00AEFF;
	background: transparent;
	color: white;
	cursor: pointer;
	box-shadow: 0px 0px;
	transition-duration: 0.5s;
	position: relative;
	overflow: hidden;
}

button:hover{
	box-shadow: 2px 5px 20px #00AEFF;
}

span{
	background-color: #00FFCB;
	height: 100%;
	width: 0%;
	border-radius: 15px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}

button:hover span{
	width: 100%;
}

.getStarted{
	width: 100%;
	text-align: center;
	position: absolute;
	background-image: url(background2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  	box-shadow: 0px -5px 10px #424242;
	margin-top: -50px;
}

.getStarted h1{
	font-family: 'Advent Pro';
	font-size: 60px;
	margin-top: 80px;
}

.getStarted p{
	margin-top: -40px;
	font-family: 'Poppins', sans-serif;
}

.bg3{
	width: 100%;
	height: 50px;
	box-shadow: 0px -5px 10px #424242;
}

.line1{
	object-position: center;
	align-items: center;
	justify-content: center;
	width: 20%;
	margin-top: -20px;
}
.row{
	margin-top: 5%;
	margin-left: 1%;
	display: flex;
	justify-content: space-between;
}

.ting-col{
	flex-basis: 32%;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.ting-col img{
	width: 100%;
	border-radius: 10px
}

.layer{
	height: 84%;
	width: 100%;
	border-radius: 10px;
	top: 0;
	left: 0;
	position: absolute;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
}

.ting-col2{
	flex-basis: 32%;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.ting-col2 img{
	width: 100%;
	height: 84%;
	border-radius: 10px
}

.ting-col3{
	flex-basis: 32%;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.ting-col3 img{
	width: 100%;
	height: 84%;
	border-radius: 10px
}

.layer:hover{
	background: rgba(255, 66, 66,0.6);
}
.layer h3{
	font-family: 'Poppins', sans-serif;
	font-size: 26px;
	color: white;
	text-shadow: 2px 5px 20px #fff;
	margin: 20px;
	left: 48%;
	bottom: 0;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}

.layer:hover h3{
	bottom: 49%;
	opacity: 1;
}

.cta{
	width: 80%;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)),url(cta.png);
	background-position: center;
	margin: 100px auto;
	background-size: cover;
	text-align: center;
	border-radius: 10px;
	padding: 100px 0;
}
.cta h1{
	color: white;
	padding: 0;
}

.bg4{
	width: 100%;
	height: 50px;
	box-shadow: 0px -5px 10px #424242;

}

.edu-banner{
	background-image: linear-gradient(rgba(0, 91, 128, 0.75), rgb(253, 234, 200),rgb(248, 239, 222));
}
.edu-main{
	min-height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	
}

.container{
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px;
}

.left{
	width: 50%;
	height: 600px;
	background: url(ico1.png) no-repeat center / cover;
	border-radius: 8px;
}

.right{
	width: 50%;
	min-height: 400px;
	background-color: #2f3d3c;
	display: block;
	align-items: center;
	justify-content: center;
	padding: 50px;
	border-radius: 8px;
	color: whitesmoke;
	margin-left: -100px;
}

.right h1{
	font-size: 40px;
	font-weight: lighter;
	padding: 10px;
}

.right p{
	margin: 20px 0;
	font-weight: 500;
	line-height: 25px;
}

.right a{
	font-size: 11px;
	text-decoration: none;
	text-transform: uppercase;
	background-color: white;
	color: black;
	padding: 20px 30px;
	display: inline-block;
	letter-spacing: 2px ;
	margin: 20px 0;
} 


.left2{
	width: 50%;
	height: 600px;
	background: url(ico2.jpg) no-repeat center / cover;
	border-radius: 8px;
}

.left3{
	width: 50%;
	height: 600px;
	background: url(ico3.jpeg) no-repeat center / cover;
	border-radius: 8px;
}
.donateBtn{
	font-size: 11px;
	text-decoration: none;
	text-transform: uppercase;
	background-color: white;
	color: black;
	padding: 20px 30px;
	display: inline-block;
	letter-spacing: 2px ;
	margin: 20px 0;
}







.airWidget{
	text-align: center;
	margin-left: 70px;
	margin-top: 80px;
	position: relative;
}

.banner2{
  	background-image: url(background6.jpg);
  	width: 100%;
  	height: 100vh;	
}


